<div id='signup'>
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='submitForm(signupForm.$valid, signup)' novalidate>
    <label>Username<input name="username" type='text' ng-model='user.username' ng-minlength="3" required></label>
    <div ng-show="signupForm.username.$invalid && signupForm.username.$dirty">Username has to be at least 3 characters</div>
    <label>Password<input name='password' type="password" ng-model='user.password' ng-minlength="6"required></label>
    <div ng-show="signupForm.password.$invalid && signupForm.password.$dirty">Password has to be at least 6 characters</div>
    <!-- <input type="password" ng-pattern='user.password' required> -->
    <button ng-disabled="signupForm.$invalid">Sign Up</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
